@import "tailwindcss"; 
@plugin '@midudev/tailwind-animations';




@font-face{
    font-family: 'Bernoru';
    src: url('/fonts/bernoru-blackultraexpanded.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@layer base{
    *{
        font-family: sans-serif;
        color: var(--color-white);
    } 

    html, body {
    cursor: pointer !important;
    } 

    p ,div, span, h1, h2, h3, h4, h5, h6, li, button {
      cursor: default;
    }
    
    a[href*="/robotics"]::after{
        content: "";
        width: 15px;
        height: 15px;
        background-image: url(/icons/robot.svg);
        position: absolute;
        left: 77px;
        top: -4px;
        background-size: cover;
        animation: robot-animation 3.5s infinite;
    } 
    
    @keyframes robot-animation{

        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-5px);
        }
        100%{
            transform: translateY(0px);
        }

    }

    @keyframes menu-link-hover {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-1px);
        }
        100%{
            transform: translateY(-3px);
        }
    } 

    @keyframes menu-toggle {
        0%{
            transform: translateX(0px);
        }

        100%{

            transform: translateX(var(--animate-menu-toggle-position));
        }
    } 

    @keyframes animate-fade-out {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    @keyframes animate-fade-in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    
    
    }

}

@theme{
    --font-bernoru: 'Bernoru', sans-serif;
    --color-primary: #0c5192;
    --color-secondary:#ffde59;
    --color-transparent: transparent;
    --size-navbar-height: 64px;
    --animate-menu-toggle: menu-toggle 3s forwards ease-in-out;
    --animate-menu-link-hover: menu-link-hover 0.2s forwards ease-in-out;
    --animate-menu-toggle-position: -140px;

}


@utility h-navbar {
    
    height: var(--size-navbar-height);
} 
