---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout 
  title="Robótica" 
  description="Programa de robótica educativa en Manuel Urbano Ayarza. Formando estudiantes con habilidades en ciencia, tecnología, ingeniería y matemáticas en Colón, Panamá."
>
    <h1 class="mt-4 font-bernoru font-bold text-3xl md:text-4xl lg:text-5xl">Robótica</h1> 
</BaseLayout>
