---
import BoxTitle from "../components/BoxTitle.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout 
  title="Robótica" 
  description="Programa de robótica educativa en Manuel Urbano Ayarza. Formando estudiantes con habilidades en ciencia, tecnología, ingeniería y matemáticas en Colón, Panamá."
>
    <section class="grid grid-cols-1 lg:grid-cols-[75%_1fr] gap-6 pt-4" >
    <header class="col-span-2 rounded-2xl h-[55dvh] w-full bg-[url('/public/logos/robotica.png')] bg-cover bg-position-[0px_-353px] bg-no-repeat mask-b-from-1% mask-b-to-99%">
      <div class="flex flex-col justify- h-full">
        <p class="text-center w-full text-xl bg-secondary text-primary">Competenciá RoboTIC</p>
      </div>
    </header>
    <article class="pr-4 flex flex-col gap-6">
       
      <h1 class="mt-0 font-bernoru font-bold text-3xl md:text-4xl lg:text-5xl">
        Robótica
      </h1>

       <p class="text-base md:text-lg leading-relaxed">La escuela cuenta con un club de robótica liderado por la maestra de informática <b>Maruquel Soto</b>. A través de este programa, los estudiantes desarrollan habilidades en ciencia, tecnología, ingeniería y matemáticas utilizando diversas plataformas educativas.</p>

       <p class="text-base md:text-lg leading-relaxed"><b class="text-secondary">Plataformas de desarrollo guiado:</b></p>
       <ul class="text-base md:text-lg leading-relaxed ml-6 mb-6">
         <li>Lego EV3</li>
         <li>Acebot</li>
         <li>Scratch</li>
       </ul>

       <p class="text-base md:text-lg leading-relaxed"><b class="text-secondary">Software libre:</b></p>
       <ul class="text-base md:text-lg leading-relaxed ml-6 mb-6">
         <li>Arduino</li>
         <li>Raspberry Pi</li>
       </ul>

       <p class="text-base md:text-lg leading-relaxed">Estos conocimientos han permitido que nuestros estudiantes participen con éxito en concursos y actividades provinciales y nacionales. En 2024, el club de robótica de la escuela obtuvo el primer lugar en la categoría junior de RoboTIC y los segundo y tercer lugares en la categoría mayor del mismo concurso, demostrando el excelente trabajo de nuestros estudiantes y maestros.</p>
        
       <img class="w-full h-auto rounded-2xl" src="/logos/robotica.png" >
    </article>
    <side class="hidden lg:block">
      <div class="sticky top-[var(--size-navbar-height)] z-1">
        <img
            src="/logos/maru.png"
            alt="Maestra Maruquel Soto"
            class="rounded-2xl w-full h-auto mask-b-from-1% mask-b-to-99%"
          /> 
          <p class="text-center text-secondary p-2 md:p-4">
            Imagen de la maestra Maruquel Soto
          </p>
      </div>
    </side>
  </section>
</BaseLayout>
