---

interface Props{
    className?: string;
}

const {className}  = Astro.props 


var classNameInternal = className ? className : "";

classNameInternal = "border border-secondary/5 " + className;

// si no se espesifica color de fondo, se le asigna uno por defecto
if(classNameInternal.includes("bg-") != true){
   classNameInternal = "bg-black/2 " + classNameInternal;
}

// Si no se especifica tamaño de borde redondeado, se le asigna uno por defecto
if(classNameInternal.includes("rounded-") != true){
   classNameInternal = "rounded-2xl " + classNameInternal;
} 
---

<div class={classNameInternal} >
    <slot />
</div>