---
import Box from "./Box.astro"

interface props{
 className?: string
 title: string
} 

const {title, className} = Astro.props

--- 

<Box className={className}>
    <div class="flex gap-2 w-full">
        <slot name="icon" />
        <h2 class="text-lg font-bold text-secondary">{title}</h2>
    </div>
</Box>