<header
    class="w-full h-[calc(100dvh-var(--size-navbar-height))] animate-fade-out animate-fill-mode-forwards timeline-scroll animate-range-[0%_50%]"
>
    <div
        class="hidden lg:block blur-[0.8px] animate-fade-out animate-fill-mode-forwards timeline-scroll animate-range-[0%_25%] bg-[url('/logos/escuela.webp')] bg-covert lg:bg-contain bg-center bg-no-repeat fixed right-0 translate-x-[none] lg:translate-x-[17dvw] top-0 w-full h-full z-[-2] pointer-events-none select-none"
        style="-webkit-mask-image: linear-gradient(to right, transparent 15%, black 45%, black 100%); mask-image: linear-gradient(to right, transparent 15%, black 45%, black 100%);"
    >
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 h-full">
        <div
            class="flex flex-col justify-center items-center lg:items-start gap-8 lg:gap-10 order-2 lg:order-1"
        >
            <h1
                class="font-bernoru font-bold w-full lg:max-w-[983.04px] text-center lg:text-left text-3xl lg:text-6xl"
            >
                C.E.B.G Manuel <br /> Urbano <br /> Ayarza
                <span class="text-md lg:text-xl"
                    ><br />Formando <b class="text-secondary"
                        >el futuro de Colón</b
                    ></span
                >
            </h1>
            <diV
                class="flex flex-col lg:flex-row items-center justify-start gap-5 lg:gap-4"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="50"
                    viewBox="0 0 24 24"
                >
                    <g
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        color="currentColor"
                    >
                        <path
                            d="M7 18c-1.829.412-3 1.044-3 1.754C4 20.994 7.582 22 12 22s8-1.006 8-2.246c0-.71-1.171-1.342-3-1.754m-2.5-9a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0"
                        ></path>
                        <path
                            d="M13.257 17.494a1.813 1.813 0 0 1-2.514 0c-3.089-2.993-7.228-6.336-5.21-11.19C6.626 3.679 9.246 2 12 2s5.375 1.68 6.467 4.304c2.016 4.847-2.113 8.207-5.21 11.19"
                        ></path>
                    </g>
                </svg>
                <p class="text-md lg:text-xl text-center lg:text-left">
                    Ubicado en Panamá, provincia de Colón, distrito <br /> de Colón,
                    corregimiento de Cativa. <a
                        class="text-secondary underline cursor-pointer"
                        href="https://maps.app.goo.gl/KFfgKXRS8n3scGfR8"
                        target="_blank">Ver ubicación</a
                    >
                </p>
            </diV>
            <a
                href="tel:+5074440445"
                class="flex items-center text-xl justify-evenly bg-secondary w-50 text-primary font-bold px-6 py-3 rounded-xl hover:scale-105 transition-transform duration-300"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    viewBox="0 0 16 16"
                    ><path
                        fill="#3fcf77"
                        d="M11 10c-1 1-1 2-2 2s-2-1-3-2s-2-2-2-3s1-1 2-2s-2-4-3-4s-3 3-3 3c0 2 2.055 6.055 4 8s6 4 8 4c0 0 3-2 3-3s-3-4-4-3z"
                    ></path></svg
                >
                Contáctanos
            </a>
        </div>
        <div
            class="hidden lg:flex w-full h-full items-center justify-end order-1 lg:order-2"
        >
        </div>
    </div>
</header>
